.classificationList {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 600px) {
    .classificationList {
        gap: 0.5rem;
    }

    .classificationTitle {
        font-size: 1.2rem;
    }
}