.runnerCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 1rem 4rem 1rem 4rem;
    border-radius: 3rem;
    max-height: 5rem;
    width: 80%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    
    & h3 {
        font-size: 1.5rem;
        color: var(--text-secondary);
    }

    & h2 {
        font-size: 2rem;
        max-width: 50%;
        text-align: center;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;   
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media (max-width: 600px) {
    .runnerCard {
        gap: 1rem;
        padding: 1rem 2rem 1rem 2rem;
        max-height: 1.75rem;

        & h2 {
            font-size: 1.2rem;
        }

        & h3 {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 350px) {
    .runnerCard {
        gap: 1rem;
        padding: 0.75rem 1.5rem 0.75rem 1.5rem;
        max-height: 1.3rem;

        & h2 {
            font-size: 1rem;
        }

        & h3 {
            font-size: 1.2rem;
        }
    }

    
}